@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Black+Ops+One&family=Bungee+Shade&family=Rubik+Dirt&family=Saira+Stencil+One&display=swap");

:root {
  --columns-row: 2;
}

html {
  background: url("/dist/background.jpg") no-repeat center center fixed;
  height: auto;
}

#title {
  font-size: 60px;
  text-align: center;
  font-family: "Bungee Shade", cursive;
}

.playerContainer,
.aiContainer {
  display: grid;
  grid-template-columns: repeat(var(--columns-row), 1fr);
  gap: 1px;
  min-width: 360px;
  min-height: 360px;
}

.square {
  background-color: lightgray;
  border: 1px solid black;
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 12em;
  gap: 70px;
}

#titlePlayer,
#titleAi {
  margin-top: -1.5em;
  font-family: "Saira Stencil One", cursive;
}

#titlePlayer {
  margin-right: -5.85em;
}

#titleAi {
  margin-right: -4em;
}

@media only screen and (max-width: 760px) {
  .content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 7em;
    margin-left: 80px;
    gap: 100px;
  }

  #titleAi {
    margin-right: 10em;
    margin-top: 285px;
    position: absolute;
  }

  #titlePlayer {
    margin-top: -55px;
    margin-right: 190px;
    position: absolute;
  }

  .playerContainer,
  .aiContainer {
    margin-top: -20px;
    min-width: 260px;
    min-height: 260px;
  }

  .aiContainer {
    margin-right: 40px;
    margin-left: 40px;
  }
}
